<div class="loading" *ngIf="loading"></div>
<mat-toolbar style="background-color: darkturquoise;">
    <mat-toolbar-row fxLayout="row">
        <span style="color: red;">Thông tin cá nhân</span>
        <span class="spacer"></span>
        <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
            <mat-icon style="color: red;">close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
    <div fxFlex fxLayout="column">
        <div fxLayout="row wrap">
            <mat-form-field appearance="standard" fxFlex>
                <mat-label>Tên người dùng</mat-label>
                <input matInput required [(ngModel)]="user.userDetail.name">
            </mat-form-field>
            <div style="margin-left: 10px;"></div>
            <mat-form-field appearance="standard" fxFlex>
                <mat-label>Số điện thoại</mat-label>
                <input matInput required [(ngModel)]="user.userDetail.contactNumber">
            </mat-form-field>
        </div>

        <div fxLayout="row wrap">
            <mat-form-field appearance="standard" fxFlex>
                <mat-label>Tên đăng nhập</mat-label>
                <input matInput required value="{{ user.userDetail.userName }}" disabled="true">
            </mat-form-field>
        </div>
        <div fxLayout="row wrap">
            <div class="text-center" style="display: grid; width: 100%;justify-content: center;">
                <input #fileInput type="file" accept=".png, .jpg, .jpeg" (change)="onFileChange($event)"
                    style="display: none;">

                <label  class="drag-and-drop" *ngIf="!selectedImage && !user.imageBase64" (click)="fileInput.click()"
                    (dragover)="onDragOver($event)" (drop)="onDrop($event)" (dragleave)="onDragLeave($event)">
                    Kéo thả hoặc click để chọn hình ảnh
                </label>

                <img *ngIf="user.imageBase64" [src]="'data:image/jpg;base64,' + user.imageBase64 " alt="">


                <div *ngIf="selectedImage" class="img-container">
                    <img [src]="selectedImage" class="img-preview" alt="Selected Image">
                    <button (click)="deleteImage()" class="delete-button">Xóa</button>
                </div>

                <div *ngIf="selectedImage" class="file-name" [ngClass]="{'tooltip': fileName && fileName.length > 10}"
                    [title]="fileName">{{ fileName }}</div>

            </div>

        </div>
    </div>
</mat-dialog-content>


<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" type="submit" (click)="uploadImageAndThenUpdateUser()">
        <mat-icon>save</mat-icon>Xác nhận
    </button>

    <button mat-raised-button style="background-color: red;" mat-dialog-close>
        <mat-icon>cancel</mat-icon>Hủy
    </button>

</mat-dialog-actions>