<mat-toolbar style="background-color: darkturquoise;">
    <mat-toolbar-row fxLayout="row">
        <span style="color: red;">{{dialogData.action}} danh mục</span>
        <span class="spacer"></span>
        <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
            <mat-icon style="color: red;">close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>


<mat-dialog-content class="mat-typography">
    <form [formGroup]="categoryForm">
        <div fxFlex fxLayout="column">
            <mat-form-field appearance="standard" fxFlex>
                <mat-label>Tên danh mục</mat-label>
                <input matInput formControlName="name" required>
                <mat-error *ngIf="categoryForm.controls.name.touched && categoryForm.controls.name.invalid">
                    <span *ngIf="categoryForm.controls.name.errors.required">Không được để trống tên danh mục</span>
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()" [disabled]="!isFormValid">
        <mat-icon>save</mat-icon>Xác nhận
    </button>

    <button mat-raised-button style="background-color: red;" mat-dialog-close>
        <mat-icon>cancel</mat-icon>Hủy
    </button>

</mat-dialog-actions>