<div class="loading" *ngIf="loading"></div>
<mat-toolbar>
    <mat-toolbar-row fxLayout="row">
        <span>Thông tin cá nhân</span>
        <span class="spacer"></span>
        <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
    <div fxFlex fxLayout="column">
        <div fxLayout="row wrap">
            <mat-form-field appearance="standard" fxFlex>
                <mat-label>Tên người dùng</mat-label>
                <input matInput required [(ngModel)]="user.userDetail.name" disabled="true">
            </mat-form-field>
            <div style="margin-left: 10px;"></div>
            <mat-form-field appearance="standard" fxFlex>
                <mat-label>Số điện thoại</mat-label>
                <input matInput required [(ngModel)]="user.userDetail.contactNumber" disabled="true">
            </mat-form-field>
        </div>

        <div fxLayout="row wrap">
            <mat-form-field appearance="standard" fxFlex>
                <mat-label>Tên đăng nhập</mat-label>
                <input matInput required value="{{ user.userDetail.userName }}" disabled="true">
            </mat-form-field>
        </div>
        <div fxLayout="row wrap">
            <mat-label style="color: red; margin-bottom: 2%;">Ảnh đại diện:</mat-label>
            <div class="text-center" style="display: grid; width: 100%; justify-content: center;">
                <div style="position: relative; display: inline-block;">
                    <img *ngIf="user.imageBase64 && !selectedImage" [src]="'data:image/jpg;base64,' + user.imageBase64 "
                        alt="" class="imageBase64">
                    <img *ngIf="!user.imageBase64 && !selectedImage" src="../../assets/img/images.png" alt=""
                        class="imageBase64">
                    <mat-icon class="icon-edit" (click)="edit()">edit</mat-icon>
                </div>
            </div>


        </div>
    </div>
</mat-dialog-content>