<mat-toolbar style="background-color: darkturquoise;">
  <mat-toolbar-row fxLayout="row">
    <span style="color: red;">Thêm mới hình ảnh</span>
    <span class="spacer"></span>
    <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
      <mat-icon style="color: red;">close</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
  <div class="text-center">
    <input class="form-control" type="file" (change)="onFileChange($event)">
    <!-- <img *ngIf="imageUrl" [src]="imageUrl" alt="Preview"> -->
  </div>
  <div fxFlex fxLayout="column">
    <div fxLayout="row wrap">
      <mat-form-field appearance="standard" fxFlex>
        <mat-label>Tên sản phẩm</mat-label>
        <input matInput [(ngModel)]="name" #nameInput="ngModel" name="name" required maxlength="50">
        <mat-error *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)">
          <ng-container *ngIf="nameInput.hasError('required')">
            Tên sản phẩm không được để trống
          </ng-container>
          <ng-container *ngIf="nameInput.hasError('maxlength')">
            Tên sản phẩm không được vượt quá 1024 ký tự
          </ng-container>
        </mat-error>
      </mat-form-field>

    </div>

    <div fxLayout="row wrap">

      <mat-form-field appearance="standard" fxFlex>
        <mat-label>Mô tả</mat-label>
        <textarea matInput [(ngModel)]="description" #descriptionInput="ngModel" name="description" required
          maxlength="1024"></textarea>
        <mat-error *ngIf="descriptionInput.invalid && (descriptionInput.dirty || descriptionInput.touched)">
          <ng-container *ngIf="descriptionInput.hasError('required')">
            Mô tả sản phẩm không được để trống
          </ng-container>
          <ng-container *ngIf="descriptionInput.hasError('maxlength')">
            Mô tả sản phẩm không được vượt quá 1024 ký tự
          </ng-container>
        </mat-error>
      </mat-form-field>

    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-flat-button color="primary" (click)="uploadImage()" class="float-right">
    <mat-icon>save</mat-icon> Xác nhận</button>

  <button mat-raised-button style="background-color: red;" mat-dialog-close>
    <mat-icon>cancel</mat-icon>Hủy
  </button>

</mat-dialog-actions>