<div class="loading" *ngIf="loading"></div>
<mat-card>
    <b>
        <span>Danh sách hóa đơn</span>
    </b>
</mat-card>
<hr>
<mat-card>
    <mat-form-field appearance="standard">
        <mat-label>Tìm kiếm</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>
</mat-card>
<hr>

<div class="responsive_table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Tên</th>
            <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let element">{{element.email}}</td>
        </ng-container>

        <ng-container matColumnDef="contactNumber">
            <th mat-header-cell *matHeaderCellDef>Số điện thoại</th>
            <td mat-cell *matCellDef="let element">{{element.contactNumber}}</td>
        </ng-container>

        <ng-container matColumnDef="createdDate">
            <th mat-header-cell *matHeaderCellDef>Thời gian mua hàng</th>
            <td mat-cell *matCellDef="let element">{{element.createdDate}}</td>
        </ng-container>


        <ng-container matColumnDef="paymentMethod">
            <th mat-header-cell *matHeaderCellDef>Phương thức thanh toán</th>
            <td mat-cell *matCellDef="let element">{{element.paymentMethod}}</td>
        </ng-container>

        <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef>Tổng cộng</th>
            <td mat-cell *matCellDef="let element">{{element.total}}</td>
        </ng-container>

        <ng-container matColumnDef="view">
            <th mat-header-cell *matHeaderCellDef>Tác động</th>
            <td mat-cell *matCellDef="let element" class="action-link">
                <button mat-icon-button color="primary" matTooltip="Xem" (click)="handleViewAction(element)">
                    <mat-icon>visibility</mat-icon>

                </button>

                <button mat-icon-button color="primary" matTooltip="Tải hóa đơn" (click)="handleDowloadAction(element)">
                    <mat-icon>get_app</mat-icon>

                </button>

                <button mat-icon-button color="primary" matTooltip="Xóa" (click)="handleDeleteAction(element)">
                    <mat-icon>delete</mat-icon>

                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
        <tr mat-row *matRowDef="let row; columns:displayedColumns;"></tr>
    </table>
</div>