<div class="loading" *ngIf="loading"></div>
<div style="display: flex; justify-content: end; align-items: center;">
    <button mat-icon-button class="m-r-5" style="cursor: pointer;">
        <mat-icon [matMenuTriggerFor]="profile">settings</mat-icon>
    </button>
    <div class="profile-home">
        <div *ngIf="user" style="margin-right: 10px; font-size: 16px;">
            {{user.name}}
        </div>
        <div (click)="view()" style="cursor: pointer;">

            <img *ngIf="image" [src]="'data:image/jpg;base64,' + image" alt="" class="profile-image">
            <img *ngIf="!image" src="../../assets/img/images.png" alt="" class="profile-image">
        </div>
    </div>
</div>

<mat-menu #profile="matMenu" class="mymegamenu">
    <!-- <button mat-menu-item (click)="edit()">
        <mat-icon>edit_location</mat-icon>Thông tin cá nhân
    </button> -->

    <button mat-menu-item (click)="changePassword()">
        <mat-icon>password</mat-icon>Đổi mật khẩu
    </button>

    <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>Đăng xuất
    </button>

    <mat-option *ngFor="let user">
        {{user.name}}
    </mat-option>
</mat-menu>