<body>
    <mat-card >
        <b><span>Trang chủ</span></b>
    </mat-card>
    <br>
    <div class="row">
        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 class="title">Tổng số danh mục:</h2>
                    <h1 class="title">{{data?.category}}</h1>
                    <p><button class="button" [routerLink]="['/vietnq/category']">Xem danh mục</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 class="title">Tổng số sản phầm:</h2>
                    <h1 class="title">{{data?.product}}</h1>
                    <p><button class="button" [routerLink]="['/vietnq/product']">Xem sản phẩm</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 class="title">Tổng số hóa đơn:</h2>
                    <h1 class="title">{{data?.bill}}</h1>
                    <p><button class="button" [routerLink]="['/vietnq/bill']">Xem hóa đơn</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 class="title">Tổng số người dùng:</h2>
                    <h1 class="title">{{data?.user}}</h1>
                    <p><button class="button" [routerLink]="['/vietnq/user']">Xem người dùng</button></p>
                </div>
            </div>
        </div>
    </div>
</body>